.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 10px;
  font-weight: 700;
}
